@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.2/font/bootstrap-icons.css");
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,500;1,500&family=Roboto:ital,wght@0,100;0,300;1,100;1,300&display=swap');

:root {
    --primary-color: hsl(214, 84%, 56%);
    --text-color: hsl(0, 0%, 31%) ;
    --bg-color: hsl(0, 0%, 90%) ;
    --bg-card-color: hsl(0, 0%, 98%);
    --trasition: color .1s, background-color .2s ease-in-out;
    --border-radius: .4em;
    --skills-bar-length: 0%;
}

* {
    box-sizing: border-box;
}

a {
    color: var(--primary-color);
    text-decoration: none;
}

img {
    max-width: 100%;
    display: block;
}

/*--------------------------CAMBIO DE TEMAS-----------------------------------------*/
body {
    margin: 0;
    background-color: var(--bg-color);
    color: var(--text-color);
    transition: var(--trasition);
}


body.oscuro {
    --text-color: hsl(0, 0%, 83%);
    --bg-color: hsl(0, 0%, 15%);
    --bg-card-color: hsl(0, 0%, 20%);
}


.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 75px;
    padding: 0 1.5em;
    background-color: var(--bg-card-color);
    transition: var(--trasition);
    position: sticky;
    top: 0;
    z-index: 1;
    box-shadow:rgba(0, 0, 0, 0.4) 0.5px 2px 10px ;
}

.switches {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.cambiarTema {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.cambiarTema__icono {
    margin-right: .5em;
    width: 20px;
}

.cambiarTema__texto {
    font-size: .8rem;
}

/*--------------aaa------------------*/
#toggle{
    position: relative;
    display: block;
    width: 40px;
    height: 20px;
    border-radius: 20px;
    background: #222;
    transition: .5s;
    cursor: pointer;
    box-shadow: inset 0 5px 10px rgba(0,0,0,0.1),
                inset 0 5px 5px rgba(0,0,0,0.1),
                inset 0 -5px 5px rgba(0,0,0,0.1);
}

#toggle .indicador{
    position: absolute;
    top: 0;
    left: 0;
    width: 20px;
    height: 20px;
    background: linear-gradient(to bottom, #444, #222);
    border-radius: 50%;
    transform: scale(.9);
    box-shadow: 0 2px 5px rgba(0,0,0,0.5),
                inset 0 1px 1px rgba(255,255,255,0.2),
                inset 0 -1px 1px rgba(255,255,255,0.2);
    transition: .5s;

}

#toggle.active .indicador{
    left: 20px;
    background: linear-gradient(to bottom, #aeaeae, #f9f9f9);
    box-shadow: 0 2px 5px rgba(0,0,0,0.5),
    inset 0 1px 1px rgba(255,255,255,0.2),
    inset 0 -1px 1px rgba(255,255,255,0.2);
}

#toggle.active{
    background: #fff;
    box-shadow: inset 0 5px 10px rgba(0,0,0,0.1),
                inset 0 5px 5px rgba(0,0,0,0.1),
                inset 0 -5px 5px rgba(0,0,0,0.1);
}


/*--------------------------CAMBIO DE COLORES-----------------------------------------*/

.colores {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 20px;
    width: 100px;
}

.colores__item {
    width: 20px;
    height: 20px;
    border: 1px solid var(--text-color);
    background-color: var(--primary-color);
    cursor: pointer;
}

.colores__item--azul {
    --primary-color: hsl(214, 84%, 56%);
}

.colores__items--verde {
    --primary-color: hsl(150, 84%, 56%);
}

.colores__items--violeta {
    --primary-color: hsl(276, 84%, 56%);
}

.colores__items--naranja {
    --primary-color: hsl(46, 84%, 56%);
}

.titulo {
    text-align: center;
    color: var(--primary-color);
    transition: var(--trasition);
}

.main {
    display: grid;
    padding: 2em;
    gap: .5em;
}

@media screen and (min-width:720px) {
    .main {
        grid-template-columns: min-content 1fr;
    }
}

.column {
    display: grid;
    gap: .5em;
}

@media screen and (min-width:720px) {
    .column--right {
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(3, min-content);
        align-items: start;
    }
}

.card {
    padding: 1em;
    background-color: var(--bg-card-color);
    border-radius: var(--border-radius);
}

.card__imagen-container {
    min-width: 320px;
    border-radius: var(--border-radius);
    max-height: 300px;
    overflow: hidden;
}

.card__header {
    padding: 1em 0;
}

.card__title {
    margin-bottom: 1em;
    font-size: 1.2rem;
    text-transform: uppercase;
    letter-spacing: .2em;
    font-family: 'Montserrat', sans-serif;
    
    text-align: center;
}

.card__subtitulo {
    font-size: .9rem;
    opacity: .8;
    font-family: 'Roboto', sans-serif;
    text-align: center;
}

.card__link {
    margin-bottom: .6em;
}

.card__text {
    font-size: .9rem;
    line-height: 1.8;
    font-family: 'Roboto', sans-serif;
}

.redes{
    display: flex;
    justify-content: space-around;
    width: 275px;
    height: 50px;
}

.card .bi, .card .bi-facebook{
   font-size: 30px;
}

.card__link .bi{
    font-size: 20px;
}

@media screen and (min-width: 760px) {
    .card--proyecto {
        display: grid;
        grid-template-columns: min-content 1fr;
        grid-column: 1 / -1;
    }
}

.skills {
    padding: .4em 0;
}

small{
    font-family: 'Roboto', sans-serif;
}

.skills__header {
    display: flex;
    justify-content: space-between;
    width: 175px;
    margin-left: auto;
}

.skills__tech {
    margin: 0;
    font-size: .8rem;
    font-family: 'Roboto', sans-serif;
}

.skills__item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: .5em;
    
}

.skills__bar,
.skills__bar::after {
    position: relative;
    width: 175px;
    height: 8px;
    background-color: #888;
    border-radius: var(--border-radius);
    overflow: hidden;
    
}

.skills__bar::after {
    content: '';
    position: absolute;
    left: -175px;
    background-color: var(--primary-color);
    transition: var(--trasition);
    animation: skills-bar-fill 2s ease-in-out forwards;
}

.skills__bar--10::after {
    --skills-bar-length: 10%;
}

.skills__bar--20::after {
    --skills-bar-length: 20%;
}

.skills__bar--30::after {
    --skills-bar-length: 30%;
}

.skills__bar--40::after {
    --skills-bar-length: 40%;
}

.skills__bar--50::after {
    --skills-bar-length: 50%;
}

.skills__bar--60::after {
    --skills-bar-length: 60%;
}

.skills__bar--70::after {
    --skills-bar-length: 70%;
}

.skills__bar--80::after {
    --skills-bar-length: 80%;
}

.skills__bar--90::after {
    --skills-bar-length: 90%;
}

.skills__bar--100::after {
    --skills-bar-length: 100%;
}

.experiencia {
    display: flex;
    align-items: start;
    margin-bottom: 1em;
    padding: 1em;
    border: 2px solid var(--primary-color);
    border-radius: var(--border-radius);
    transition: var(--trasition)
}

.experiencia__imagen {
    max-width: 15%;
    margin-right: 1em;
}

.experiencia__tiempo {
    font-size: .8rem;
    margin-bottom: .5em;
}

.experiencia__trabajo {
    margin: 0;
    margin-bottom: .5em;
    color: var(--primary-color);
    transition: var(--trasition);
}

.experiencia__descripcion {
    font-size: .8rem;
    margin-bottom: 1.5em;
    font-family: 'Roboto', sans-serif;
}

.proyecto{
    position: relative;
}

@media screen and (min-width: 760px) {
    .proyecto {
        margin-left: 2em;
    }
}

.proyecto__etiquetas{
    display: flex;
    justify-content: space-between;
    margin: .5em 0;
    font-size: .6rem;
    width: 275px;
}

@media screen and (min-width: 760px) { 
    .proyecto__etiquetas{
        width: 325px;
        font-size: .8rem;
    }
 }

.proyecto__etiqueta{
    padding: .4em .8em;
    border-radius: var(--border-radius);
    background-color: var(--primary-color);
    color: var(--bg-color);
}

.botones{
    display: flex;
    justify-content: space-between;
    width: 225px;
}

@media screen and (min-width: 760px){
    .botones{
        position: absolute;
        bottom: 1em;
    }
}

.button{
    width: 100px;
    line-height: 2.5;
    text-align: center;
    border-radius: var(--border-radius);
    transition: var(--trasition);
}

.button--primary{
    background-color: var(--primary-color);
    color: var(--bg-color);
}

.button--ghost{
    background-color: transparent; 
    border: 1px solid var(--primary-color);
    color: var(--primary-color);
}


.icon {
    margin-right: 1em;
}

@keyframes skills-bar-fill {
    to {
        transform: translateX(var(--skills-bar-length));
    }
}

.no-margin {
    margin: 0;
}